
:root{
      --bg:#0E121A;      /* fondo general */
      --surface:#171E28; /* superficies */
      --text:#E6EEF8;    /* texto principal */
      --muted:#9FB0C6;   /* texto secundario */
      --brand:#F5D547;   /* amarillo LUMEN */
}

